.post {
	position: relative;
	
	&.shadow {
		box-shadow: 0px 1px 1px #ccc;
	}
}

.post-list {
	margin-bottom: $gutter;
	padding-bottom: $gutter;
	float: left;
	border-bottom: 1px solid lighten($grey,20%);
	width: 100%;
	
	.post-title {
		font-size: em(20);
		margin-bottom: 5px;
		color:$pink;
	}
	
	.post-meta {
		font-size: em(13);
		color:darken($grey,15%);
		margin-bottom: .5*$gutter;
		margin-left:0;
		list-style: none;
		
		> li {
			display:  inline-block;
			margin:0 4px;
			
			&:before {margin-right: 4px;font-size: 10px;display:inline-block;float:left;margin-top:2px;}
			
			&:first-child {
				margin-left:0;
			}
		}
	}
	
	.post-text {
		font-size: em(14);
		line-height: 1.3;
		margin-bottom: 10px;
		font-weight: 300;
	}
	
	.post-link {
		font-size: em(14);
		
		&.icon-arrow-right {
			padding-right: 15px;

			&:before {
				position: absolute;
				right: 0;
				top:0px;
				font-size: 12px;
			}
		}
	}
	
	&:hover {

		.post-link:before {
			@include wobble($duration:.9s);
		}
	}
}

.post-stores {
	font-weight: 300;
	padding-bottom: 0;
	width: 100%;
	
	.post-title {
		margin-bottom: 20px;
		color:$black;
		width: 70%;
		clear: both;
		
		a{
			color:inherit;
			position: relative;
			display: block;
			
			&:before {
				@extend %icon-fa;
				content:$fa-var-info-circle;
				color:inherit;
				color:$grey;
				font-size: em(15);
				position: absolute;
				right: 0;
				top:2px;
				
				
			}
			
			&:hover {
				color:$pink;
				&:before {
					color: inherit;
				}
			}
		}
	}
		
		
	.post-text {
		//font-size: em(15);
		display: inline-block;
		padding-right: $gutter;
		width: 70%;
	}
	.crop,
	.map {
		width: 	30%;
		float: right;
		position: relative;
		a {
			
			
			&:before {
				@extend %icon-fa;
				content:$fa-var-map-marker ' route';
				position: absolute;
				background:rgba(#fff,.8);
				width: 100px;
				font-size: em(14);
				border:1px solid #fff;
				text-align: center;
				display: inline-block;
				padding:9px 15px;
				height: 40px;
				border-radius: 10px;
				left:50%;
				top:50%;
				margin:-20px 0 0 -50px;
				opacity: 0;
				@include transform(scale3d(.3, .3, .3));
				@include transition(all, .3s, .2s, ease-in-out);
			}
			
			&:hover {
				&:before {
					 opacity: 1;
					 @include transform(scale3d(1, 1, 1));
				}
			}
		}
	}
	
	.google-map {
		width: 100%;
		height: 200px;
	}
	
	.post-adress {
		.open {
			margin-top:10px;
		}
	}
}

.post-category-list {
	background: #fff;
	width: 100%;
	.post-title {
		background: $pink;
		color:#fff;
		font-size: em(18);
		padding:15px 15px 15px 50px;
		position: relative;
	}
	
	.icon-svg {
		width: 25px;
		position: absolute;
		top:-7px;
		left:15px;
		height: 25px;
		display: inline-block;
		
		svg {width: 100%;height: 100%;}
		
		svg path {
			fill:#fff;
		}
	}
	
	.category-items {
		font-size: em(14);
		padding:20px;
		
		.item {
			margin-bottom: 10px;
			
			a {
				position: relative;
				display: block;
				line-height: 1.3;
				padding-left:0;
				@include transition(all .2s linear);
				
				&:before {
					@extend %icon-fa;
					content:$fa-var-arrow-right;
					font-size: 11px;
					vertical-align: text-bottom;
					margin-right: 5px;
					opacity: 0;
					position: absolute;
					display: inline-block;
					left:-10px;
					top:2px;
					
					@include transition(all .2s linear);
				}
				
				&:hover {
					padding-left:15px;
					&:before {
						opacity: 1;
						left:0;
					}
				}
				
				@include media($mobile) {
					padding-top:8px;
					padding-bottom: 8px;
					padding-left: 15px;
					&:before {
						top:9px;
						opacity: 1;
						left:0;
					}
				}
			}
		}
	}
	
	
	
	.crop {
		padding-bottom: 35.13%;
		height: 0;
		overflow: hidden;
		
	}
}

.post-text-in-image {
	
	&:before {
		position: absolute;
		bottom:0;
		left: 0;
		width: 0;
		height: 2px;
		content:'';
		background-color: $pink;
	}
	.text-block {
		padding:$gutter;
		
		h1 {
			font-size: em(22);
			font-weight: 300;
			margin-bottom: 5px;
			
			&:before {
				content:'/';
				font-size: .9em;
				vertical-align: middle;
				margin-right: 10px;
			}
		}	
		
		p {
			font-weight: 300;
			font-size: em(14);
			padding-left: 19px;
			font-family: $header-font;
			margin-bottom: 10px;
			&.fixed-height {
				overflow: hidden;
				height: 60px;
			}
		}	
	}
	
	.crop {
		padding-bottom: 46%;
		width: 100%;
		height: 0;
		position: relative;
		overflow: hidden;
		
		img {
			position: absolute;
			top:0;
			left:0;
			right: 0;
			bottom:0;
		}
	}	
	
	&:hover {
		box-shadow: 0px 0px 5px rgba(#000,.3);
		
		//&:before {width: 100%;}
		

			//@include pulse($duration:.4s, $delay:.1s);
		
	}
}

.post-higlight {
	margin:$gutter 0;
	
	.text.intro {
			//font-size: em(19);
			font-weight: 300;
		
	}
}

.post-highlight-image {
	border-radius: 15px;
	margin-bottom: 1.5*$gutter;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	max-width: 900px;
/*
	&:before {
		@extend %icon-fa;
		position: absolute;
		right:$gutter;
		bottom:$gutter;
		content:$fa-var-arrow-right;
	}
	
*/

	@include media($mobile) {
		padding:0;
		border-radius: 0;
	}

	.page-heading {
		color:#fff;
		
		.meta {
			font-size: 13px;
			margin-left: $gutter;
		}
	}
	
	.crop {
		width: 25%;
		height: auto;
		float: left;
		padding:$gutter;
		
		img {float: left;}
		
		@include media($mobile) {
			width: 30%;
			//max-height: 150px;
			overflow: hidden;
			//margin-top: 0px;
			padding:15px 0px 0 10px;
			img {min-height: 0;width: 100%;height: auto;}
		}
	}
	
	.text {
		padding:1.4*$gutter;
		width: 75%;
		float: left;
		margin-bottom: 0;
		
		@include media($mobile) {
			width: 70%;
			padding:15px;

		}
	}
	
	&:hover {
		&:before {
			@include wobble();
		}
	}
	
}

.post-image-big {
	margin-bottom: $gutter;
	
	.crop {
		width: 100%;
		height: auto;
		
		img {
			width: 100%;
			height: auto;
		}
	}
}

.post-image-sale {
	padding-bottom: 15px;
	.post-sale-title {
		font-size: em(15);
		height: 35px;
		overflow: hidden;
	}
	
	.text-block-sale {
		width: 70px;
		height:70px;
		border:2px solid;
		font-size: em(12);
		border-radius: 50%;
		color:#fff;
		background-color:$pink;
		position: absolute;
		bottom:-14px;
		z-index: 10;
		font-weight: 700;
		display: table;
		line-height: 1;
		padding:2px;
		left: 50%;
		margin-left:-35px;
		text-align: center;
		word-break: break-word;
		
		p {
			display: table-cell;
			margin-bottom: 0;
			vertical-align: middle;
		}
	}
	
	&:hover {
		.text-block-sale {
			@include pulse($duration: .3s);
		}
	}
}

.post-quote {
	padding:$gutter 10%;
	.crop {
		display: inline-block;
		max-width: 180px;
		float: right;
		margin-left: $gutter;
		border:2px solid #fff;
		
		@include media($mobile) {
			max-width: 80px;
		}
		
		> img {float:left;}
	}
	
	.text {
		display: inline;
		font-size: em(17);
		p:before,
		p:after {
			content:'"';
		}
	}
	.author {
		clear: both;
		font-size: em(13);
		color:$pink;
		display: inline-block;
		margin-top: 0;
	}
}

.post-archive {
	width: 100%;
	overflow: hidden;
	margin-bottom: $gutter;
	
	.meta {
		width: 90px;
		height: 90px;
		border:2px solid lighten($grey,10%);
		float: left;
		display:table;
		margin-right: $gutter;
		
		.column {
			display: table-cell;
			vertical-align: middle;
			
			width: 100%;
			height: 100%;
			text-align: center;
		}
		
		.meta-day,
		.meta-month {display: block;width: 100%;font-weight: 700;color:$pink;line-height: 1;}
		
		.meta-day {font-size: em(22);}
	}
	
	.text-block {
		width: 70%;
		float: left;
		
		@include media($mobile) {
			width: 100%;
		}
	}
	
	
	&.type-news {
		.text-block {
			@include media($mobile) {
				width: 75%;
				
			}
		}
		
		@include media($mobile) {
			.meta {
				width: 50px;
				height: 50px;
				margin-right: 10px;
				
				.meta-month {font-size: em(12);}
				.meta-day {font-size: em(18);}
			}
		}
	}
	
	.meta-data {
		font-size: em(13);
		color:darken($grey,15%);
		margin-bottom: 5px;
		margin-top: -5px;
		.meta-item {
			display: inline-block;
			margin-left: 8px;
			&:before {
				@extend %icon-fa;
				content:$fa-var-circle;
				font-size: 6px;
				vertical-align: middle;
			    padding-right: 8px;
			    
			}
			
			&:first-child {
				margin-left: 0;
				&:before {
					display: none;
				}
			}	
		}
	}
	
	.post-title {
		font-weight: 700;
		font-size: em(16);
		margin-bottom: 10px;
	}
	
	.post-text {
		font-size: em(14);
		color:lighten($black,20%);
		max-height: 46px;
		overflow: hidden;
		
		@include media($mobile) {
			max-height: 53px;
		}
		
		@include media($tablet) {
			max-height: 57px;	
		}
	}
}

.post-search {
	//based on post-archive 
	border-bottom:1px solid lighten($grey, 18%);
	padding-bottom: .2*$gutter;
}