#wpadminbar {position: relative;}

.header-img {
	padding-bottom: 24.83%;//w:1900 h:460
	
	@include media($mobile) {
		padding-bottom: 35%;
	}
	//top:50px;
	.item {
		&:before {
			bottom:0;
		}
		.box {
			margin:-120px 0 0 30px;
			text-align: left;
			
			@include media($mobile) {
				width: 100px;
				height: 120px;
				left:50%;
				margin:-55px 0 0 30px;
			}
			.box-content {	
				h1 {
					font-size: em(28);
					
					@include media($mobile) {
						font-size: em(20);
					}
				
				}
				
				ul {
					list-style: disc;
					font-size: em(18);
					
					@extend %mobileHide;
					
					> li {
						margin-left:$gutter;
						font-weight: 700;
					}
				}
				
				.small-text {
					@include media($mobile) {
						@extend %mobileHide;
					}
			
					> p {
						>strong, 
						> em {
							float: left;
						}
					}
				}
				
			}
		}
		
		.crop {
			bottom:0;
			top:0;
			
			@include media($mobile) {
				img {
					height: 150%;
					margin-left:-57%;
					max-width: none;
				}
			}
		}
	}
}

.btn {
	@extend %button;
	
	&.send {
		@extend %icon-fa;
	}
}

.btn-round {
	@extend %button-round;
	
	&.icon-facebook:hover {
		color:$facebook;
	}
	&.icon-twitter:hover {
		color:$twitter;
	}
	&.icon-linkedin:hover {
		color:$linkedin;
	}
	&.icon-youtube:hover {
		color:$youtube;
	}
}

.bg-brand-color,
.bg-pink-color {
	background-color:$pink;
	color:#fff;
	//
}

.bg-orange-color {
	background-color: $orange;
	color:#fff;
}

.bg-blue-color {
	background-color:$blue;
	color:#fff;
}

.bg-white-color {
	background-color: #fff;
	color:$black;
}



.list-block {
	.page-heading{margin-bottom: 1.5*$gutter;}
}




.link-to-page {
	font-weight: 300;
	position: relative;
	padding-right: 20px;
	font-size: em(15);
	&:before {
		position: absolute;
		right: 0;
		top:2px;
		font-size: em(14);
	}
}

.content {
	padding:2*$gutter 0 0 $gutter;
	.text {
		font-weight: 300;
		margin-bottom: 2*$gutter;
	}
	@include media($mobile) {
		padding:$gutter 10px $gutter 10px;
	}
}

.page-overview {
	position: relative;
	
	&:before {
		content:'';
		background:#fafafa;
		//@include background-image(linear-gradient(to left, #fff , #fafafa));
		position: absolute;
		top:0px;
		left:69%;
		right: 0;
		bottom:0;
		//display: block;
		z-index: -1;
	
		@extend %mobileHide;
	}
}

.panel {
	padding:1.5*$gutter;
	border:1px solid lighten($grey,15%);
	text-align: center;
	overflow: hidden;
	margin-bottom: $gutter;
	
	@include media($mobile) {
		padding:10px 15px;
	}
	
	&.info {
		text-align: left;
		background:$orange;
		border:0;
		border-radius: 15px;
		color:#fff;
		font-size: em(14);
		padding-bottom: 0;
		
		.text {margin-bottom: 0;}
	}
	.map {
		height: 280px;
		
		.google-map {
			width: 100%;
			height: 100%;
		}
	}
	&.note {
		//padding:$gutter;
		font-size: em(13);
		text-align: center;
		//border:1px solid lighten($grey,15%);
		//border-radius: 10px;
		color:darken($grey,15%);
		margin:$gutter 0;
		
		p:last-child {margin-bottom: 0;}
	}
}
.overview-content {
	padding:$gutter 0;
	margin-bottom: $gutter;
	font-weight: 300;
}

.page-heading {
	margin-bottom: $gutter;
	margin-left: -.5*$gutter;
	&:before {
		content:'/';
		margin-right: 8px;
		color:inherit;
	}
	
	+ ul,
	+ .text {
		//padding-left:$gutter;
	}
	
	+ ul.data-services {
		padding: 0;
	}
	
	@include media($mobile) {
		margin-left:-5px;
		
		&:before {
			margin-right: 4px;
		}
	}
}

h1.page-heading {
	font-size: em(30);
	
	@include media($mobile) {
		font-size: em(24);
	}
}
h2.page-heading {
	font-size: em(24);

	@include media($mobile) {
		font-size: em(22)
	}
}
h4.page-headeing {
	font-size: em(20);

	@include media($mobile) {
		font-size: em(18);
	}
}
legend.page-heading{
	font-size: em(20);
}

