.banner {
	ul {
		
		li {
			margin-left:$gutter;
			list-style: disc;
		}
	}
	&.action{
		padding: 1.2*$gutter;
		border-radius: 15px;
		font-size: em(15);
		text-align: center;
		font-weight: 300;
		
		ul {
			margin-bottom: 1.5*$gutter;
			text-align: left;
		
			li {
				margin-bottom: .5*$gutter;
				
				&.icon-svg,
				&.icon {
					padding-left: 1.5*$gutter;
					margin-bottom: $gutter;
					margin-left: 0;
					list-style: none;
					&:before {
						height: 20px;
						width: 20px;
						display: inline-block;
						position: absolute;
						top:3px;
						left: 0;
					}
				}
				
				
			}
		}
		
		.price {
			font-size: em(22);
			font-weight: 700;
			del, s {
				font-weight: 300;
			}
		}
		
	}
	.btn {display: inline-block;min-width: 150px;font-size: em(16);}	
	
	
}