.footer-page {
	padding:3*$gutter 0;
	
	@include media($mobile) {
		padding:30px 0 0 0;
		text-align: center;
	}
	
	@include background-image(linear-gradient(to bottom, lighten($pink,20%), lighten($pink,1%)));
	//background-color:lighten($pink,20%);
	.row  {position: relative;padding-bottom:75px;}
	input[type="text"] {
		border-color: transparent;	
	}
	
	a {	color:#fff;font-weight: 300;}
	
	.sitemap {
		@include media($mobile) {
			display: none;
		}
	}
	
	.sitemap-subitem {
		font-size: em(14);
		font-weight: normal;
	}
	
	.sitemap-item {
		margin-bottom: 1.5*$gutter;
		font-size: 90%;
		
		.menu-item {
			margin-bottom: 4px;
		}
		> a {
			margin-bottom: 10px;
			display: inline-block;
			font-weight: 500;
		}
		
		a {
			&:before {
				@extend %icon-fa;
				content:$fa-var-arrow-right;
				margin:0 5px 10px -10px;
				opacity: 0;
				color:inherit;
				font-size: 12px;
				@include transition(all .2s linear);
			}
			
			&:hover {
				color:darken(#fff,5%);
				&:before {
					margin:0 5px 10px 5px;
					opacity: 1;
				}
			}
		}
	}
	
	.widget {
		margin-bottom: 2*$gutter;
		color:#fff;
		
		.text {
			font-size: em(14);
		}
		.widget-title {
			color:inherit;
			margin-bottom: 10px;
			font-size: em(16);
			font-weight: 500;
		}
		
	}
	
	.social-follow-nav {
		margin-bottom: 0;
		position: absolute;
		bottom:$gutter;
		
		@include media($mobile) {
			width: 100%;
			left:-5px;
			bottom:5px;
		}
		.btn-round {
			border:2px solid;
			color:#fff;
		}	
		
		ul > li {
			display: inline-block;
		}
	}
	
	
}

.footer-page-end {
	background-color: $pink;
	color:lighten($pink, 30%);
	font-size: em(12);
	padding:$gutter 0;
	text-align: center;
	
	em {
		&:before,
		&:after {content:"'";}
	}
	
	.footer-menu {
		//padding:15px 0;
		@include media($mobile) {
			text-align: center;
			width: 100%;
		    margin-top: 10px;
		}
		> li {display: inline;}
		> li:first-child a{margin-left: 0;&:before{display: none;}}
		a {
			color:lighten($pink, 30%);
			margin-left:5px;
			font-size: 12px;
			font-weight: normal;
			
			&:before {
				@extend %icon-fa;
				content:$fa-var-circle;
				font-size: 4px;
				vertical-align: middle;
				margin-right: 5px;
			}
			
			&:hover {
				color:lighten($pink, 40%);
			}
		}
		
	}
	
}


.leden-footer {
	padding:$gutter 0;
	
	.banner.action {
		padding:0 $gutter;
	}
	
}