.nav {
	.menu-item {
		display: inline-block;
		//float: left;
		text-align: center;
		a {
			display: inline-block;
			
			font-weight: normal;
			position: relative;
			color:inherit;
		}
		
	}
}

.main-nav {
	
	@extend %mobileHide;
	
	.menu-item {
		color:#fff;
		float: left;
		
		a {
			padding:15px 20px;
			font-size: em(14);
			font-weight: 300;
			@include transition(background, .3s, ease-in-out);
			
			&:hover {
				background-color:rgba(#fff,.1);
			}
		}
		
		
		&:first-child {
			a {
				border-width: 0 1px 0 1px;
			}
		}
		
		&.is--current,
		&.current-menu-item,
		&.current-page-ancestor {	
			a {font-weight: 700;}
		}
		
	}
	
	h1 {
		display: inline-block;
		color:#fff;
		font-size: em(16);
		font-weight: 300;
		float: left;
		padding:17px 10px 0 0;
		
		&.hide {
			display: none;
		}
	}
	
	> ul {float: left;}
	
	&.services {
		.menu-item a {font-weight: 500;}
	}
	
	&.tabs {
		.menu-item {
			a {
				padding:15px 30px;
				font-size: em(14);
				font-weight: 500;
				border:1px solid rgba(#fff,.2);
				border-width: 0 1px 0 0px;
				
				
				
				&:hover {
					background-color:rgba(#fff,.1);
				}
			}
			
			&:first-child a {
				border-width: 0 1px 0 1px;
			}
			
			&.is--current,
			&.current-menu-item,
			&.current-page-ancestor {
				background-color:#fff;
				color:$pink;
				border-top:4px solid $pink;
				font-weight: 700;
			}
		}
	}
	
	&.member-nav {
		.menu-item {
			&.current-page-ancestor a {
				font-weight: normal;
			}
		}
	}
}

.single-ledenaanbieding {
	.member-nav {
		.menu-item-356 {
			 a {
				font-weight: 700;
			}
		}
	}
}