.page-navigation,
.pagination {
	padding-top: $gutter;
	width: 100%;
	text-align: center;
	float: left;	
	font-size: em(14);
	
	> h1 {display: none;}
	> ol,
	> ul {
		width: auto;
		display: inline;
		
		> li {
			display: inline-block;
			color:$pink;
			font-weight: 300;
			
			> a {
				font-weight: 300;
				color:$pink;
				display: block;
				padding:6px 10px;
				
				&:hover {
					color:$pink;
				}
			}
			
			&:hover {
				background: fade-out($pink,.8);
			}
			
			&.bpn-current,
			.current {
				background: $pink;
				color:#fff;
				padding:8px 10px;
				> a {color:#fff;}
			}
			
			&.bpn-prev-link,
			&.bpn-next-link > a, 
			&.bpn-prev-link > a,
			.page-numbers.next,
			.page-numbers.prev {
				position: relative;
				overflow: hidden;
				text-indent: 200%;
/*
				width: 35px;
				height: 35px;
*/
				display: none;
				&:before {
					@extend %icon-fa;
					display: block;
					position: absolute;
					top:15px;
					text-indent: 0;
					left:0px;
					font-size: 1.2em;
					//color:lighten($blue, 15%);
				}
			}
			
			&.bpn-prev-link > a,
			.page-numbers.prev {
				padding-left: 12px;
				&:before {
					left:0;
					content:$fa-var-caret-left;
				}
			}
			
			&.bpn-next-link > a,
			.page-numbers.next {
				padding-right: 12px;
				
				&:before {
					right: 0;
					content:$fa-var-caret-right;
				}
			}
			
			&.bpn-next-link, 
			&.bpn-prev-link {
				&:hover {background-color:transparent;}
			} 
			
		}
	}
}