.topHeader {
	height: 50px;
	width: 100%;
	background: rgba(#fff,.4);
	position: absolute;
	z-index: 10;

	.search-box {
		flex-grow: 2;
		margin-right: 15px;
		input[type="search"] {
			height: 50px;
			border-color:#fff;
		}		
	}
	
	.row {
		@include display(flex);
		flex-direction: row ;
	}
}

.topHeader.bg-orange-color {
	
	.menu-item {
		a {
			color:#fff;
			
			&:before {
				background-color:#fff;
			}
		}
	}
	
	.search-box {
		input[type="search"] {
			background-color: rgba(#fff,.2);
			border-color: transparent;
			
			@include placeholder {
				color:rgba(#fff,.4); 
			}
			
			&:focus {
				color:#fff;
				
				+ .btn {
					color:#fff;
				}
			}
		}
		
		.btn {
			 color:rgba(#fff,.4);
		}
		
		
	}
}

.logo {
	position: relative;
	overflow: hidden;
	width: 113px;
	height: 142px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size:cover;
	margin-right: $gutter;
	background-image: url('../gfx/logo-vierstroom.png');
	
	&:hover {
		@include tada($duration:.8s);
	}
	
	@include media($desktop980) {
		width: 96px;
		height:120px;	
	}
	
	@include media($tablet) {
		width: 70px;
		height: 80px;
	}
}



.search-box {
	height: 50px;
}

.topNav {
	display: inline-block;
	.menu-item {
		display: inline;
		a {
			display: inline-block;
			font-size: em(12);
			padding:15px 0px;
			font-weight: normal;
			margin-left:10px;
			position: relative;
						

			&:after {
				height: 2px;
				background-color: $pink;
				width: 0px;
				display: block;
				content:'';
				position: absolute;
				bottom:0;
				right: 0px;
				left:0px;
				
				@include transition(width .2s .2s linear);
			}

			
			&:hover{
				&:after {
					width: 100%;
				}
			}	
		}
		
		&.highlight a,
		&.menu-item-403 a {
			background-color: $orange;
			color:#fff;
			padding: 15px 25px 15px 15px;
			font-weight: 700;
			
			&:before {
				@extend %icon-fa;
				content:$fa-var-arrow-right;
				margin-left: 10px;
				position: absolute;
				right: 5px;
			}
			
			&:after {
				background-color: darken($orange, 10%);
			}
		}
		
		&.is--current,
		&.current-page-ancestor,
		&.current-menu-item {
			a {
				font-weight: 700;
				
				&:after {
					width: 100%;
				}
			}
		}
		
		&:first-child a {
			margin-left: 0;
		}
	}
}