.action-stamp {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:100px;
	right: 50%;
	margin-right:-650px;
	z-index: 200;
	box-shadow: 5px 8px 2px rgba(#000, .6);
	
	@include transform(rotate(5deg));

	@extend %mobileHide;
	
	@include media($tablet) {
		height: 150px;
		width: 150px;
		margin:0;
		right: 10px;
		top:50px;
	}
	
	@include media($desktop980) {
		width: 240px;
		height: 240px;
		right: 20px;
		margin:0;
		top:60px;
	}
	
	.action-table {
		height: 280px;
		width: 280px;
		display: table;
		
		@include media($tablet) {
			height: 150px;
			width: 150px;
		}
		
		@include media($desktop980) {
			width: 240px;
			height: 240px;
		}
	}
	
	.action-content {
		padding:3*$gutter 15px $gutter 15px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color:#fff;
		
		@include media($tablet) {
			padding:15px;
		}
	}
	
	.action-title {
		color:inherit;
		font-weight: 700;
		font-size: em(22);
		margin-bottom: 10px;
		
		@include media($tablet) {

			font-size: em(20);
		}
	}
	
	.action-text {
		font-weight: 300;
		font-size: em(15);
		padding:0 $gutter;
		sub {
			font-size: em(11);
			vertical-align:text-top;
		}
		
		@include media($tablet) {
			display: none;
		}
	}
}