<header class="topHeader">
	<div class="row">
		<h1 class="logo"><a href="index.html" class="box-link">Vierstroom</a></h1>
		<nav class="topNav">
			<h1 class="hide">Top navigatie links</h1>
			<ul>
				<li class="menu-item"> <a href="#">Over Vierstroom</a></li>
				<li class="menu-item"> <a href="werkenbij.html">Werken bij Vierstroom</a></li>
				<li class="menu-item"> <a href="thuiszorg-winkels.html">Thuiszorgwinkels</a></li>
				<li class="menu-item"> <a href="#">Nieuws</a></li>
			</ul>
		</nav>
		<div class="search-box">
			<input type="search" placeholder="zoeken" class="search" />
			<input type="submit" class="btn btn--search" value="&#xf002;" />
		</div>
		<nav class="topNav right">
			<h1 class="hide">Top navigatie rechts</h1>
			<ul>
				<li class="menu-item"> <a href="#">Verwijzers</a></li>
				<li class="menu-item"> <a href="#">Mijn Vierstroom</a></li>
				<li class="menu-item highlight"> <a class="icon icon-arrow-right" href="leden-home.html">extra's voor leden</a></li>
			</ul>
		</nav>
	</div>
</header>