<nav class="mobileNav">
	<h1 class="">Menu</h1>
	<ul>
		<li class="menu-item"> <a href="#">Home</a></li>
		<li class="menu-item"> 
			<a href="#">Zorg Thuis</a>
			
			<ul class="sub-nav children sub-menu">
				<li class="menu-item"> <a href="#">Diensten</a></li>
				<li class="menu-item"> <a href="#">Lorem</a></li>
				<li class="menu-item"> <a href="#">Ipsum</a></li>
			</ul>
			
		</li>
		<li class="menu-item"> <a href="#">Hulp Thuis</a></li>
		<li class="menu-item current-menu-item "> <a href="#">Veilig Thuis</a></li>
		<li class="menu-item"> <a href="#">Leden</a></li>
		<li class="menu-item"> <a href="#">Vierstroom</a></li>
		<li class="menu-item"> <a href="#">Contact</a></li>
	</ul>
</nav>
