<!doctype html>
<html lang="nl">
<head>
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="apple-touch-icon-precomposed" href="style/gfx/iLogo.png">
	<link href="../style/gfx/favicon.png" rel="shortcut icon" type="image/png" />
	<meta name="apple-mobile-web-app-title" content="vierstroom" />

	<title>{{this.title}} - {{package.name}}</title>
	<link rel="stylesheet" href="../style/css/style.min.css" />
	 
</head>
<body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>

