---
title: "Home"
section:
posted: 2015-05-28

---

<header class="topHeader">
	<div class="row">
		<h1 class="logo"><a href="index.html" class="box-link">De Vierstroom</a></h1>
		<nav class="topNav">
			<h1 class="hide">Top navigatie links</h1>
			<ul>
				<li class="menu-item"> <a href="#">Over viestroom</a></li>
				<li class="menu-item"> <a href="werkenbij.html">Werken bij de vierstroom</a></li>
				<li class="menu-item"> <a href="#">Nieuws</a></li>
			</ul>
		</nav>
		<div class="search-box">
			<input type="search" placeholder="zoeken" class="search" />
			<input type="submit" class="btn btn--search" value="&#xf002;" />
		</div>
		<nav class="topNav right">
			<h1 class="hide">Top navigatie rechts</h1>
			<ul>
				<li class="menu-item"> <a href="#">Verwijzers</a></li>
				<li class="menu-item"> <a href="#">Mijn Vierstroom</a></li>
			</ul>
		</nav>
	</div>
</header>

<section class="slider">
	<h1 class="hide">Over ons</h1>
	<div class="carousel" data-prevnext="false">
		<ul class="wrapper">
			<li class="item orange">
				<article>
					<figure class="crop" data-img="../images/slider1.jpg">
						
					</figure>
					<div class="row">
						<div class="box ">
							<div class="box-content">
								<h1>Thuis herstellen na een operatie<strong><br />Wij regelen het</strong></h1>						
								<p class="small-text">
									<strong>Peter Oosterman, Gouda</strong><br />
									<em>zorgcoördinator Vierstroom</em>
								</p>
							</div>
						</div>
					</div>
					<a href="" class="box-link">Verder lezen</a>
				</article>
			</li>
			<li class="item green">
				<article>
					<figure class="crop" data-img="../images/slider1.jpg">
						
					</figure>
					<div class="row">
						<div class="box ">
							<div class="box-content">
								<h1>Nog een quote<strong><br />Wij regelen het</strong></h1>						
								<p class="small-text">
									<strong>Peter Oosterman, Gouda</strong><br />
									<em>zorgcoördinator Vierstroom</em>
								</p>
							</div>
						</div>
					</div>
					<a href="" class="box-link">Verder lezen</a>
				</article>
			</li>
		</ul>
	</div>
	<div class="row relative">
		<div class="widget-find">
			<form>
				<label for="first-item">Ik wil graag</label>
				<div class="style-select">
					<select id="first-item">
						<option class="placeholder" disabled selected>Maak een keuze</option>
						<option>Informatie</option>
						<option>Bestellen</option>
					</select>
				</div>
				
				<label for="second-item">over</label>
				<div class="style-select">
					<select id="second-item">
						<option class="placeholder" disabled selected>Maak een keuze</option>
						<option>Thuiszorg</option>
						<option>Hulpmiddelen</option>
					</select>
				</div>
				<ul>
					<li>
						<label for="third-item">En dan specifiek over</label>
						<div class="style-select">
							<select id="third-item">
								<option class="placeholder" disabled selected>Maak een keuze</option>
								<option>Thuiszorg</option>
								<option>Hulpmiddelen</option>
							</select>
						</div>
					</li>
					<li>
						<label for="fourth-item">Kunt u mij</label>
						<div class="style-select">
							<select id="fourth-item">
								<option class="placeholder" disabled selected>Maak een keuze</option>
								<option>Thuiszorg</option>
								<option>Hulpmiddelen</option>
							</select>
						</div>
					</li>
					<li>
						<label for="fifth-item">U kunt mij bereiken op</label>
						<input type="text" id="fifth-item" value="" placeholder="contat gegevens"  />
					</li>
				</ul>


				<input type="submit" value="Verstuur" class="btn inverse wide" />
			</form>
			<p class="text-center">Of bel direct met Vierstroom <strong>088 - 0900 400</strong></p>
		</div>
	</div>
</section>

<article class="bar leden-bar">
	<div class="row">
		<h1 class="bar-title arrow-vierstroom right"><a href="leden-home.html">Extra's voor leden</a></h1>
		
		<div class="bar-text">
			<p>Vierstroom biedt niet alleen alle hulp en zorg om zelfstandig te kunnen blijven. U kunt ook lid worden van Vierstroom LedenService! Want samen met 65.000 staan we sterk! Leden krijgen interessante kortingen op de diensten van Vierstroom enHuishoudelijke hulp voor iedereen Hulp binnen handbereik via persoonlijk alarmprofiteren van aanvullende aanbiedingen. Voordeel op uw zorgverzekering bijvoorbeeld of gratis krukken lenen.</p>
			<a href="leden-home.html" class="box-link">Lees meer</a>
		</div>
	</div>
</article>

<section class="bg-brand-color block-padding">
	<div class="row">
		<h1 class="hide">Diensten</h1>
		<ul class="group-3 box">
				
				{{#each-limit diensten 3 }}
				<li class="post post-text-in-image bg-white-color ">
					<article>
						<div class="text-block">
							<h1>{{teaser-title}}</h1>
							<p><em>{{teaser-text}}</em></p>
						</div>
						
						<figure class="crop">
							<img src="{{teaser-img}}" />
						</figure>
						
						<a href="{{uri}}" class="box-link">Lees meer</a>
					</article>
				</li>
				{{/each-limit}}
		</ul>
		
	</div>
</section>
