---
title: "Wijkteam Gouda Oost"
posted: 2015-05-28
subnavid: 2391
subnavdepth: true
---

<article>
	<div class="slider header-img">
		<h1 class="hide">{{title}}</h1>
		<div class="carousel" data-prevnext="false">
			<ul class="wrapper">
				<li class="item">
					<article>
						<figure class="crop" data-img="../images/header-verpleging.jpg">
							
						</figure>
						<div class="row">
							<div class="box box-list">
								<div class="box-content">
									<h1>{{title}}<strong><br />Wij zijn</strong></h1>						
									<ul>
										<li>Professionele hulp bij u thuis</li>
										<li>Vaste contactpersoon</li>
										<li>Hulp zoals u dat wilt</li>
										<li>Geen wachtlijst</li>
									</ul>
								</div>
							</div>
						</div>
						
					</article>
				</li>
			</ul>
		</div>
	</div>

	{{> site-menubar }}
	<div class="row block-padding page-overview">
		
		
		<div class="grid-8 content ">
			
			<h1 class="page-heading">{{title}}</h1>
			<div class="text">
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, laborum, perspiciatis eveniet impedit consequatur deleniti voluptas voluptatibus aperiam nulla perferendis ab mollitia.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsam voluptate quasi perspiciatis obcaecati et delectus sint aperiam totam suscipit sapiente possimus vel repellat corrupti aliquam sunt error nulla alias dolorum libero mollitia.
				</p>
				<table width="100%">
<tbody>
<tr>
<td width="17%">Product</td>
<td width="16%">Basispakket</td>
<td width="16%">Totaalpakket zonder kluis</td>
<td width="16%">Totaalpakket met kluis</td>
<td width="16%">Zorgpakket</td>
<td width="16%">Mobielpakket</td>
</tr>
<tr>
<td width="17%"><strong>Alarmapparaat  (vast)</strong></td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">verzekeraar</td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Alarmapparaat (mobiel)</strong></td>
<td width="16%">&#8211;</td>
<td width="16%">&#8211;</td>
<td width="16%">&#8211;</td>
<td width="16%"></td>
<td width="16%">+</td>
</tr>
<tr>
<td width="17%"><strong>Gebruik meldcentrale </strong></td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">verzekeraar</td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Verpleegkundige alarmopvolging</strong></td>
<td width="16%">&#8211;</td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Sleutelkluis</strong></td>
<td width="16%">&#8211;</td>
<td width="16%">&#8211;</td>
<td width="16%">+</td>
<td width="16%"></td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Installatiekluis (eenmalig)</strong></td>
<td width="16%"></td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%"></td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Installatie apparaat (eenmalig)</strong></td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%">+</td>
<td width="16%"></td>
<td width="16%"></td>
</tr>
<tr>
<td width="17%"><strong>Totaal per maand</strong></td>
<td width="16%"><strong>€19,50</strong></td>
<td width="16%"><strong>€28,50</strong></td>
<td width="16%"><strong> €42,50</strong></td>
<td width="16%"><strong>€10,13</strong></td>
<td width="16%"><strong>€15,95</strong></td>
</tr>
<tr>
<td width="17%"><strong>Eénmalig</strong></td>
<td width="16%"><strong>€48,75</strong></td>
<td width="16%"><strong>€48,75</strong></td>
<td width="16%"><strong>€90,00</strong></td>
<td width="16%"><strong> </strong></td>
<td width="16%"><strong> </strong></td>
</tr>
</tbody>
</table>
			</div>
		
			<div class="panel info">
				<p>
					<strong>Telefonisch spreekuur</strong><br />
				Maandag t/m Vrijdag van 10:00 tot 12:00
				</p>
			</div>
			
			<section class="block-padding">
				<h2 class="page-heading">Het Wijkteam</h2>
				
				<div class="text">
					<img src="../images/verplegingthuis.jpg" />
					
				</div>
				
				<div class="row post post-highlight-image bg-pink-color">
					<article>
						<figure class="crop">
							<img src="../images/adviseur.jpg" />
						</figure>
						<div class="text">
							<h4 class="page-heading">Petra Zimmerdeel<br /><sub class="meta">Wijkverpleegkundige</sub></h4>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, sapiente, deleniti laboriosam repellendus eius quasi facilis consequuntur optio assumenda sed iure error omnis aliquam!</p>
						</div>
						
					</article>
				</div>
			</section>
		</div>
		
		<aside class="grid-4 sidebar">
				{{> site-subnav }}
		</aside>
	</div>
</article>
